.dropdwon-btn {
  background-color: rgb(165, 165, 165);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 160px;
  height: 40px;
  gap: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.language {
  position: relative;
  display: flex;
  justify-content: end;
  transition: 0.6s ease-in-out;
}

.language-menu {
  list-style: none;
  position: absolute;
  display: block;
  top: 100%;
  z-index: 1;
  display: none;
}

.language-menu button {
  background-color: rgb(165, 165, 165);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 130px;
  height: 40px;
  gap: 10px;
  margin-bottom: 5px;
}

.language-menu button:hover {
  background-color: rgb(198, 198, 198);
}

.language:hover .language-menu {
  display: block;
}

.language:hover .dropdwon-btn {
  background-color: rgb(198, 198, 198);
}
